//catalog
.catalog {
  margin: 20px;
}

.catalog__title {
  font-family: Inter;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cardgoods {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog__sort {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 10px;
}

.catalog-sort {
  background: url("../../assets/Icons/Sort.svg");
  width: 20px;
  height: 18px;
}

.catalog-btn {
  background: transparent;
  border: 2px solid black;

  text-align: center;
  font-family: Tinos;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  width: 155px;
  padding: 5px;
  margin: 5px;
}

.active {
  background: rgba(24, 26, 35, 0.14);
}




//Cards
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  border: 2px solid black;
  padding: 20px 15px 5px 15px;
  margin: 5px;
  width: 180px;
  height: 310px;
}

.card__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 165px;
}

.card__basket {
  background: url("../../assets/Icons/BasketBlack.svg");
  width: 35px;
  height: 38px;
}

.card__name {
  font-family: Tinos;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}

.card__price {
  color: #594762;
  text-align: center;
  font-family: Tinos;
  font-size: 13.935px;
  font-style: normal;
  font-weight: 700;
  line-height: 38.71px;
}

.hidden {
  opacity: 50%;
}