.footer-btn {
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: white;
  width: 90%;
  height: 50px;
  background: #085644BA;
  padding: 5px;
  display: block;
  margin: auto;
}